<div id="contact-screem" class="center hero-unit">
	<div class="row-fluid">
			<h2>
				Have a suggestions for new locations on campus or any comments? <br>
				Shoot us a message at <a href="mailto:contact@bzzy.io"> contact@bzzy.io</a>!
			</h2>
	</div>
</div>