<div id="home-screen" class="center hero-unit">
	<div class="row-fluid">
		<div id="choices">
			<% @places.each do |place| %>
				<%= render 'places/card', :place => place %>
			<% end %>
		</div>
	</div>
</div>
