<div id="home-screen" class="center hero-unit">
	<div class="row-fluid">

		<%= render 'places/searchform' %>

		<!-- if the shown cards are the result of a search, display the search term -->
		<% if @search_term %> 
			<p>Search results for '<%= @search_term %>'</p>
		<% end %>

		<div class="row-fluid" id="places">
			<% @places.each do |place| %>
				<%= render 'places/card', :place => place %>
			<% end %>
			
<!-- 			<span class="card" id="example">
				<div class="overlay">
					<div class="place-name">
						<a>Want to see another place here?</a>
					</div>
				</div>
			</span> -->

		</div>
	</div>
</div>
