$red : #C4161B;
$orange: #FAA419;
$green: #74BF45;
$blue: #007CC4;
$pink: #FF0060;
$light-gray: #faefef;

$red-accent: #CC0000;
$dark-red-accent: #990000;
$green-accent: #a7df38;
$dark-green-accent: #7fbe00;
$blue-accent: #1485CC;
$dark-blue-accent: #0971B2;

@mixin rounded($amount) {
  -webkit-border-radius: $amount;
     -moz-border-radius: $amount;
      -ms-border-radius: $amount;
          border-radius: $amount;

}

@mixin rounded-not-top($amount) {
-moz-border-radius: 0 0 $amount $amount;
-webkit-border-bottom-left-radius: $amount;
-webkit-border-bottom-right-radius: $amount;
}