$red : #C4161B;
$orange: #FAA419;
$green: #74BF45;
$blue: #007CC4;
$glass:#E7E7E7;
$pink: #FF0060;
$light-gray: #faf9f9;
$royal-purple: #3626AD;

$aqua: #1d58a4;
$dark-aqua: #2daaa8;

$red-accent: #CC0000;
$dark-red-accent: #990000;
$green-accent: #a7df38;
$dark-green-accent: #7fbe00;
$blue-accent: #1485CC;
$dark-blue-accent: #0971B2;

@mixin rounded($amount) {
  -webkit-border-radius: $amount;
     -moz-border-radius: $amount;
      -ms-border-radius: $amount;
          border-radius: $amount;

}

@mixin rounded-not-top($amount) {
-moz-border-radius: 0 0 $amount $amount;
-webkit-border-bottom-left-radius: $amount;
-webkit-border-bottom-right-radius: $amount;
}

@mixin transparency-of($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}