<h2>Suggest a New Place</h2>

<form action="MAILTO:contact@bzzy.io" method="post" enctype="text/plain">
	What's it Called?<br>
	<input type="text" name="name"><br>
	Comment:<br>
	<input type="text" name="comment"><br><br>
	<input type="submit" class="btn" value="Send">
	<input type="reset" class="btn" value="Reset">
</form>