 <div id="outside-container">
<footer class="footer">
  <small>
    BUzzy by Kanav, Deven, Alex
  </small>
  <nav>
    <ul>
    	Questions or suggestions? contact@bzzy.io
    </ul>
  </nav>
</footer>
</div>