 <div id="outside-container">
<footer class="footer">
  <small>
    BUZZY by Kanav, Deven, Alex
  </small>
  <nav>
    <ul>
    	Created at <a href="http://make.bu.edu">Make_BU</a> 2014
    </ul>
  </nav>
</footer>
</div>