<div class="jumbotron red-banner top" id="home-banner">
	<div class="container">
		<h1>BUZZY</h1>
		<img id="bee-icon" src="<%= image_url('bee-icon-white.png') %>">
		<h2>What's buzzin' around you?</h2>
	</div>
</div>