<div class="jumbotron red-banner top" id="home-banner">
	<div class="container-fluid">
		<a id="title-link" href="<%= root_path %>">
			<h1>Bzzy</h1>
			<img id="bee-icon" src="<%= image_url('bee-icon-white.png') %>">
		</a>
		<h2>What's busy on campus?</h2>
		<!-- popup button -->
		<a href="#whats-this-popup" class="open-popup-link">	
			<div class="btn" id="what-btn">What's this?</div>
		</a>
		<div id="whats-this-popup" class="white-popup mfp-hide"> <!-- actual popup -->
			<center><h1>What is Bzzy?</h1></center>
			<p>Bzzy uses votes from people like you to help you figure out if places on Boston University's campus are empty, packed, or somewhere in between.</p>
			<p>The fill in each box shows our prediction for how busy a place is right now.</p>
			<p>Help our alogirthm improve by voting and sharing your opinion!</p>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	// Example 1: From an element in DOM
	$('.open-popup-link').magnificPopup({
  		type:'inline',
  		midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
	});
});
</script>