<div class="jumbotron red-banner" id="info-banner">
	<div class="container">
		<h2>Check out what's busy at BU, then add your input and contribute to our <%= Vote.all.length %> votes</h2>
	</div>
</div>