<div class="jumbotron red-banner" id="info-banner">
	<div class="container-fluid">
		<h2>Based on <span id="vote-count"><%= Vote.all.length %></span> votes from your community. Contribute to the buzz!</h2>
	</div>
</div>